
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow">Error</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i>Something went wrong.</h3>

            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>