@model Common.ViewModel.Common.ApiResult<Common.DTO.DTO.AboutDto>
@{

    Layout = "~/Views/Shared/_ElcLayout.cshtml";
}
@{
    ViewBag.Title = "About";
}


<h2>Giới thiệu</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.TextAreaFor(model => model.ResultObj.Introduce, htmlAttributes: new { id = "Introduce" })
        </dd>

        <script language="JavaScript">
            var value = jQuery("#Introduce").val();
            jQuery("#Introduce").remove();
            document.write(value);

        </script>



    </dl>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/ckjs")
}

