@model Common.ViewModel.System.RoleViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Role Management
            @*<small>Control panel</small>*@
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Role</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="container-fluid">
            <div class="row">
                <div id="div-btn-add-emp" class="col-sm-12 col-md-1 col-lg-1" float-left
                     style="padding-bottom: 20px;float: right; display:flex; justify-content:flex-end;">
                    <button type="button" id="btnAddRole" class="btn w-100 btn-info" style="float: right;">
                        <i class="fa fa-fw fa-plus"></i>
                        <b>Create</b>
                    </button>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">

                    <!-- /.box -->

                    <div class="box">
                        @*<div class="box-header">
                                <h3 class="box-title">Data Table With Full Features</h3>
                            </div>*@
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tbl_roles" class="table table-bordered table-striped">
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>


            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row (main row) -->



    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Modal -->


<!--<div class="modal fade" id="role_modal" role="dialog">
    <div class="modal-dialog modal-lg">-->

        <!-- Modal content-->
        <!--<div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Role</h4>

            </div>
            <label value="000" id="edit-flag"></label>

            <div class="modal-body">

                <form class="roleform">
                    <input type="text" name="id" disabled class="form-control d-none hidden" id="id">

                    <div class="form-group">
                        <label>Name:</label><br>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Name" required="required">
                    </div>
                    <div class="form-group">
                        <label>Description:</label><br>
                        <input type="text" name="description" class="form-control" id="description" placeholder="Description" required="required">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="btnSubmit"  class="btn btn-info">Submit</button>
                        <button type="button" id="btnCancel" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </form>

            </div>


        </div>

    </div>
</div>-->


<form id="roleForm" class="roleForm" title="Dialog Title" style="display: none">
    <label value="000" id="edit-flag" class="form-control d-none hidden"></label>
    <input type="text" name="id" disabled class="form-control d-none hidden" id="id">

    <div class="form-group">
        <label>Name:</label><br>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name" required="required">
    </div>
    <div class="form-group">
        <label>Description:</label><br>
        <input type="text" name="description" class="form-control" id="description" placeholder="Description" required="required">
    </div>
</form>



@section Scripts{
    <script src="~/Asset/Common/Admin/Script/role.js"></script>
}


