<div class="col-md-12 content">
    <div class="home-strip">
        <div class="logo text-center">
            <a href="#"><img src="/Asset/Common/Client/web/images/logo.png" alt="" /></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <p class="home"><a href="#">Home</a> > <strong> Service</strong></p>
    <div class="list_of_members">
        <div class="sales">
            <div class="icon">
                <i class="art"></i>
                <a href="/ElcHome">
                    <div class="icon-text">
                        <h3>Education</h3>
                        <p>e-Learning</p>
                    </div>
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
        <!-- <div class="new-users">
            <div class="icon">
                <i class="user1"></i>
            </div>
            <div class="icon-text">
                <h3>5356</h3>
                <p>New Users</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="orders">
            <div class="icon">
                <i class="order"></i>
            </div>
            <div class="icon-text">
                <h3>26856</h3>
                <p>New Orders</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="visitors">
            <div class="icon">
                <i class="visit"></i>
            </div>
            <div class="icon-text">
                <h3>85k</h3>
                <p>Visits</p>
            </div>
            <div class="clearfix"></div>
        </div> -->
        <div class="clearfix"></div>
    </div>

    <div class="cd-tabs"></div>
</div>